@import "tailwindcss";


@layer base {
  body {
    font-family: var(--font-jetbrainsMono), monospace;
      
  }
  
.text-outline{
-webkit-text-stroke: 1px #ffffff;
}
.text-outline-hover{
-webkit-text-stroke: 1px #00ff99;
}
}
